___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b):
        if (a%2 or b%2):
            return max(a,b)
        else:
            return min(a,b)

In [7]:
# Check
lesser_of_two_evens(2,4)

2

In [8]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [220]:
def animal_crackers(text):
        lst_mylist = text.lower().split()
        if (lst_mylist[0][0] == lst_mylist[1][0]):
            return True
        else:
            return False

In [221]:
# Check
animal_crackers('Levelheaded Llama')

True

In [13]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
        n3 = n1 + n2
        if (n1 == 20 or n2 == 20 or n3 == 20):
            return True
        else:
            return False

In [24]:
# Check
makes_twenty(20,10)

True

In [25]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [224]:
def old_macdonald(name = ''):
        str_output = ''
        name = name.capitalize()
        for i in range(len(name)):
            if(i == 3):
                str_output += name[i].upper()
            else:
                str_output += name[i]
        return str_output
def old_macdonald2 (name = ''):
        str_First = name[:3]
        str_Second = name[3:]
        return (f"{str_First.capitalize()}{str_Second.capitalize()}")

In [225]:
# Check
old_macdonald2('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [229]:
def master_yoda(text):
    output = ''
    text = text.split()
    return " ".join(text[::-1])

In [230]:
# Check
master_yoda('I am home')

'home am I'

In [231]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [234]:
def almost_there(n):
    i_deviation = 10
    i_hi_cmp_1 = 100 + i_deviation
    i_lo_cmp_1 = 100 - i_deviation
    i_hi_cmp_2 = 200 + i_deviation
    i_lo_cmp_2 = 200 - i_deviation
    if (i_lo_cmp_1 < n < i_hi_cmp_1 ):
        return True
    elif (i_lo_cmp_2 < n < i_hi_cmp_2 ):
        return True
    else:
        return False
def almost_there2(n):
    return (abs(100-n) <=10) or (abs(200 -n) <=10)

In [235]:
# Check
almost_there2(104)

True

In [236]:
# Check
almost_there2(150)

False

In [237]:
# Check
almost_there2(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [30]:
def has_33(nums):
    i_cmp = 3
    for i in range(len(nums)):
        if (nums[i] == i_cmp):
            if (i < len(nums)-1):
                if(nums[i+1] == i_cmp):
                    return True
    return False

In [31]:
# Check
has_33([1, 3, 3])

True

In [32]:
# Check
has_33([1, 3, 1, 3])

False

In [33]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [39]:
def paper_doll(text):
    output = ''
    temp = ''
    for i in text:
        output += i*3 
    return output

In [40]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [41]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [238]:
def blackjack(a,b,c):
    # sum <= 21 return result
    # sum > 21 and there is 11 swap 11 with 1 and return result else return bust
            result = a+b+c
            if(result > 21):
                if (a == 11 or b == 11 or c == 11):
                    result -= 10
            if (result <= 21):
                return result
            else:
                    return 'Bust'

In [239]:
# Check
blackjack(5,6,7)

18

In [240]:
# Check
blackjack(9,9,9)

'Bust'

In [241]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [53]:
def summer_69(arr):
    # running sum until you see a 6 then set ignore flag
    # reset ignore flag when you see a 9
    result = 0
    ignore_flag = False
    for i in arr:
        if ( i == 6):
            ignore_flag = True
        if (not ignore_flag):
            result += i        
        if(i == 9):
            ignore_flag = False

    return result

In [54]:
# Check
summer_69([1, 3, 5])

9

In [55]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [56]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [248]:
def spy_game(nums):
#    Understood wrong thought it wanted in sequence order ex 007 next to each other
#    for i in range(len(nums)-2):
#        if (nums[i] == 0):
#            if(nums[i+1] == 0 and nums[i+2] == 7):
#                return True
#    return False
        array_check = [0,0,7]
        array_check_ptr = 0
        print(len(array_check))
        for i in nums:
            if (i == array_check[array_check_ptr]):
                array_check_ptr += 1
            if (array_check_ptr > len(array_check)-1):
                return True
        return False   
def spy_game2(nums):
        code = [0,0,7,'x']
        for i in nums:
            if i == code[0]:
                code.pop(0)
        return len(code) == 1

In [249]:
# Check
spy_game2([1,2,4,0,0,7,5])

True

In [250]:
# Check
spy_game2([1,0,2,4,0,5,7])

True

In [251]:
# Check
spy_game2([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [272]:
def check_prime(num):
        for i in range(3,num-2,2):
            if(num%(i) == 0):
                return False
        else:
            return True
def count_primes(num):
    num_counter = 1
    arr_primes = [2]
    for i in range(3,num+1,2):
        if (check_prime(i)):
            num_counter += 1
            arr_primes.append(i)
    return f"There are a total of {num_counter} prime numbers between 0  and 100 they are {arr_primes}"

In [273]:
# Check
count_primes(100)

'There are a total of 25 prime numbers between 0  and 100 they are [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]'

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [217]:
def print_big(letter):
    mapping = [[2],[1,3],[0,1,2,3,4],[0,4],[0,4]]
    i_length = 5
    for i in range(i_length):
        output = ''
        str_mystring = [' ']*5
        for j in mapping[i]:
            ptr = (mapping[j])
            str_mystring[j] = '*'
        for k in range(i_length):
            output += str_mystring[k]
        print (output)

In [218]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!